.about-section {
    margin: 4rem 4rem; /* Adds space on both left and right */
    position: relative;
}

.about-section h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    
}

.about-section h5 {
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 1rem;
    text-align: center;
  
}

.about-content {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}

.about-options {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 2rem; /* Adds space between options and details */
}

.option-button {
    padding: 1.5rem;
    border: 1.5px solid #6751b9;
    border-radius: 0.65rem;
    background-color: rgba(22,17,47,0.398);
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    backdrop-filter: blur(1rem);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    color: antiquewhite;
}

.option-button.active,
.option-button:hover {
    background-color: #6751b9;
    color: white;
}

.about-details {
    flex: 2;
    padding: 2rem;
    
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1.5px solid #6751b9;
    color: antiquewhite;
}

@media screen and (max-width: 768px) {
    .about-section {
        margin: 4rem 2rem; /* Reduce margin on smaller screens */
    }
    .about-content {
        flex-direction: column; /* Stack buttons and content vertically */
        gap: 2rem;
    }

    .about-options {
        flex: none; /* Allow the buttons to take full width */
        display: grid; /* Use grid to allow buttons in two columns */
        grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
        gap: 1rem; /* Adjust space between buttons */
        width: 100%; /* Take full width */
    }

    .option-button {
        padding: 1.5rem;
        text-align: center;
    }

    .about-details {
        width: 100%; /* Allow content to take full width */
        padding: 1.5rem;
    }
}

/* Further adjustment for very small screens */
@media screen and (max-width: 480px) {
    .about-options {
        flex-direction: column; /* Stack buttons vertically on very small screens */
        gap: 1rem;
    }

    .option-button {
        padding: 1rem;
        width: 100%; /* Ensure buttons take full width on very small screens */
    }

    .about-details {
        padding: 1rem;
    }
}

.role-of-responsibilities,
.achievements {
  padding: 10px;
}

.role-of-responsibilities h3,
.achievements h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.role-of-responsibilities ul,
.achievements ul {
  list-style-type: disc;
  margin-left: 20px;
}

.option-button.active {
  background-color: #6751b9;
  color: white;
}
  
  .role-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
  }
  
  .role-card {
    background-color: rgba(22, 17, 47, 0.398);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1.5px solid #6751b9;
    transition: transform 0.3s ease;
  }
  
  .role-card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .role-card ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .role-card ul li {
    margin-bottom: 0.5rem;
    
  }

  .role-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  }
  
  .role-card span {
    font-weight: 400;
  }
  
  @media screen and (max-width: 768px) {
    .role-cards {
      grid-template-columns: 1fr 1fr; 
    }
  }
  
  @media screen and (max-width: 480px) {
    .role-cards {
      grid-template-columns: 1fr; 
    }
  }
  